body {
    background-color: #003a37;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 12px;

}

#profilePhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: 10px;
}

#profileInfo {
    background-color: white;
    border: 2px solid #003a37;
    border-radius: 4px;
    position: absolute;
    top: 110%;
    right: 0%;
    width: 200px;
    height: 50px;
    padding: 10px;
    display: none;
    font-size:15px;
    text-align: right;
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.2),
        0 10px 10px -5px rgba(0, 0, 0, 0.08);
}



h1 {
    font-size: 30px;
}



#mainLayout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}

#mainContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#topBar {
    display: flex;
    align-items: center;
    margin: 0px;
    gap: 15px;
}

#loginButton {
    background-color: #045149;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: fit-content;
    border-radius: 4px;
}

#loginButton:hover {
    background-color: #003a37;
}








form {
  border-radius: 4px;
  background-color: #9ec5c6;
  padding: 20px;
  width: 400px;
  margin-top: 10px;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #bfdbdd;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}

input[type=text]:focus {
  border: 3px solid #003a37;
}

#submitButton {
  background-color: #045149;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}

#submitButton:hover {
    background-color: #003a37;
}